* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.light, .dark {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.light {
  background-color: #eef2ff;
  color: #000;
}

.dark {
  background-color: #1e1e1e;
  color: white;
}

button {
  padding: 10px 18px;
  margin-top: 15px;
  border-radius: 6px;
  border: none;
  background-color: #4f6df5;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #3b55d9;
}
